<% @recipes.each do |recipe| %>
<div  class="d-flex border w-75 mx-auto p-2 my-3">
    <h3 class="w-25"><%= recipe.name%></h3>
    <p class="w-75"><%= recipe.description%></p>

</div>
<% end %>

<%= link_to "New recipe", new_recipe_path %>
