<% @recipes.each do |item| %>
<div  class="d-flex border w-75 mx-auto p-2 my-3">
  <div class="w-25">
    <h3><%= item.name%></h3>
    <%= link_to 'REMOVE', recipe_path(item.id),
    data: { turbo_method: :delete, turbo_confirm: "Are you  sure?"}
%>
  </div>
  <p class="w-75"><%= item.description%></p>

</div>
<% end %>

<%= link_to "New recipe", new_recipe_path %>
